<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Street address:</b>
  <%= @patient.street_address %>
</p>

<p>
  <b>Insurance:</b>
  <%= @patient.insurance.name %>
</p>

<p>
  <strong>Appointments</strong>
<table>
  <tr>
    <th>Specialist</th>
    <th>Appointment Date</th>
    <th>Days Until Appointment</th>
  </tr>
  <% @specialist.appointments.each do |app| %>
      <tr>
        <td><%= app.specialist.name %></td>
        <td><%= app.appointment_date %></td>
        <td><%= (app.days_until_appointment %></td>
      </tr>
     <% end %>
   </table>
   </p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
