<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @specialist.name %>
</p>

<p>
  <b>Speciality:</b>
  <%= @specialist.speciality %>
</p>

<p>
   <strong>Pending Appointments</strong>
  <table>
    <tr>
      <th>Patient</th>
      <th>Appointment Date</th>
      <th>Days Until Appointment</th>
    </tr>
  <% @specialist.appointments.each do |app| %>
   <tr>
    <td><%= app.patient.name %></td>
    <td><%= app.appointment_date %></td>
    <td><%= (app.days_until_appointment %></td>
   </tr>
  <% end %>
</table>
</p>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
