<p id="notice"><%= notice %></p>

<p>
  <b>Patient:</b>
  <%= @appointment.patient.name %>
</p>

<p>
  <b>Specialist:</b>
  <%= @appointment.specialist.name %>
</p>

<p>
  <b>Complaint:</b>
  <%= @appointment.complaint %>
</p>

<p>
  <b>Appointment date:</b>
  <%= @appointment.appointment_date %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
